@font-face {
    font-family: 'juiceregular';
    src: url('../fonts/juice___-webfont.eot');
    src: url('../fonts/juice___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/juice___-webfont.woff2') format('woff2'),
         url('../fonts/juice___-webfont.woff') format('woff'),
         url('../fonts/juice___-webfont.ttf') format('truetype'),
         url('../fonts/juice___-webfont.svg#juiceregular') format('svg');
    font-weight: normal;
    font-style: normal;
	
}

body {
	margin: 0 auto;
	display: flex;
	width: 100%;
	height: 100vh;
}
.accueil {

	width: 100%;
	height: 100vh;
	min-height: 100%;
	background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #e33d49 , #ea5e43); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #e33d49, #ea5e43); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #e33d49, #ea5e43); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #e33d49 , #ea5e43); /* Standard syntax */
}

.textdepart {
	margin: 0 auto;
}

.text {
	font-family: "juiceregular";
	color:white;
	font-size: 60px;
	text-align: center;
	position: relative;
	top: 20%;
}

#play {
	width: 20%;
	position: relative;
	top:25%;
	display: block;
    margin-left: auto;
    margin-right: auto;
    transition: all .2s ease-in-out;
}

#lien {
	position: relative;
	top:25%;
	display: block;
    margin-left: auto;
    margin-right: auto;
    transition: all .2s ease-in-out;
}

#play:hover {
	transform: scale(1.1);
}

#logo {
	width: 120px;
	position: absolute;
	right: 8px;
	bottom: 8px;
	z-index: 4;
}

label {
	display: block; /* La balise devient de type block. */
	width: 150px;
}
input {
	border: 3px solid white;
	border-radius: 4px;
	width: 60%;
	height: 100px;
	background: transparent;
	font-family: "juiceregular";
	color: white;
	font-size: 40px;
	position: relative;
	margin: 10px;
}

.formulaire {
	position: relative;
	top: 25%;
	text-align: center;
}

::-webkit-input-placeholder {
   opacity: 1;
   padding-left: 18px;
   font-family: "juiceregular";
   font-size: 40px;
   color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
   opacity: 1;
   padding-left: 18px;
   font-family: "juiceregular";
   font-size: 40px;
   color: white;
}

.avous {
	width: 400px;
	position: absolute;
	left: 160px;
	bottom: 20px;
	font-family: "juiceregular";
    font-size: 30px;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #e33d49 , #ea5e43); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #e33d49, #ea5e43); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #e33d49, #ea5e43); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #e33d49 , #ea5e43); /* Standard syntax */
    border-radius: 4px;
    z-index: 3;
}

.avous p {
	text-align: center;
	color: white;
	position: relative;
	top: 8px;
	z-index: 4;
}

#Crono {
	position: absolute;
	font-family: "juiceregular";
	color: white;
	font-size: 120px;
	top: 39%;
  	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
  	left: 50%;
  	transform: translateX(-50%);
  	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
  	z-index: 2;

}

#rond {
	width: 15%;
	position: absolute;
  	top: 30%;
  	transform: translateY(-50%);
  	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
  	left: 50%;
  	transform: translateX(-50%);
  	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
  	z-index: 1;
}
<<<<<<< HEAD

#stopRecord {
	z-index: 5;
}
=======
video {
	display: none;
	width:100%;
	height:100vh;
	min-height:100%;
	position:fixed;
	top: 0;
	right: 0;
	z-index: 100;
    background-color: black;
}
>>>>>>> f9236f70555a75c42a8726f00a05b5d9d13dafac
